package app

import (
	"fmt"
)

type Service interface {
	GetHelloString(string) string
}

// +ioc:autowire=true
// +ioc:autowire:type=singleton

type ServiceImpl1 struct {
}

func (s *ServiceImpl1) GetHelloString(name string) string {
	return fmt.Sprintf("This is ServiceImpl1, hello %s", name)
}

// +ioc:autowire=true
// +ioc:autowire:type=singleton

type ServiceImpl2 struct {
}

func (s *ServiceImpl2) GetHelloString(name string) string {
	return fmt.Sprintf("This is ServiceImpl2, hello %s", name)
}

// +ioc:autowire=true
// +ioc:autowire:type=singleton

type ServiceStruct struct {
}

func (s *ServiceStruct) GetString(name string) string {
	return fmt.Sprintf("This is ServiceStruct, hello %s", name)
}

// +ioc:autowire=true
// +ioc:autowire:type=singleton
// +ioc:autowire:alias=AliasStruct

type AliasStruct struct {
}

func (s *AliasStruct) GetString(name string) string {
	return fmt.Sprintf("This is AliasStruct, hello %s", name)
}

// +ioc:autowire=true
// +ioc:autowire:type=singleton
// +ioc:autowire:alias=AliasStruct2

type AliasStruct2 struct {
}

func (s *AliasStruct2) GetString(name string) string {
	return fmt.Sprintf("This is AliasStruct2, hello %s", name)
}
